/* Colors
=================== */
$accent: #00c8c8;
$dark:   #333333;
$gray:   #575153;
$light: #999;
$light-x: #F8F8F8;
$white:  #fff;

/* Fonts
=================== */

$text:    'Montserrat', sans-serif;
$heading: 'Kumbh Sans', sans-serif;

/* Box shadow
=================== */
$shadow: 2px 2px 15px -3px rgba(0,0,0,0.74);


/* Media queries
=================== */
$tablet:    995px;
$mobile:    670px;
$mobile-sm: 420px;
$mobile-xs: 350px;