@import 'variables';
@import 'general';

/* Header
===================*/
.top-bar{
    background-color: $gray;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__cart{
        background-color: $accent;
        font-size: 1.075rem;
        color: $white;
        margin-left: 5rem;
        padding: .7em 2em;
        &:hover{
            cursor: pointer;
        }
    }

    &__currency{
        font-size: 1.1rem;
        color: $white;
        opacity: .7;
    }
    &__reg{
        a{
            font-size: 1.1rem;
            color: $light;
            transition:  color .3s linear;
            &:hover{
                color: $white;
            }
        }
    }
    &__sign{
        a{
            font-size: 1.1rem;
            color: $light;
            margin-left: 2rem;
            transition:  color .3s linear;
            &:hover{
                color: $white;
            }
        }
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    &__content{
        display: flex;
        align-items: center;
    }
    &__list{
        display: flex;
        position: relative;
    }
    &__submenu{
        max-width: 470px;
        width: 100%;
        box-shadow: $shadow;
        position: absolute;
        top: 100%;
        left: 2rem;
        opacity: 0;
        background-color: $white;
        transition: top .3s ease,
        transform .3s ease;
        transform: scale(0);
    }
    &__item{
        margin-left: 2rem;
        padding-bottom: 1rem;
        &:hover .nav__submenu{
            opacity: 1;
            transform: scale(1);
        }
    }
    &__link{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.95rem;
        position: relative;
        transition: color .3s linear;
        &:hover{
            color: $accent;
        }
       span{
           display: block;
           margin-left: 2px;
       }
    }
}
.submenu{
    &__content{
        display: flex;
        justify-content: space-between;
        width: 100%; 
        margin-left: .85rem;
    }
    &__item{
        width: 45%;
        max-height: 270px;
        height: 100%;
        &:first-child{
            margin-left: 3rem;
        }
    }
    &__heading{
        margin-bottom: 2rem;
        font-family: $heading;
        font-weight: 500;
        text-transform: uppercase;
        text-align: left;
        margin-top: 2rem;
        color: $dark;
        &:hover{
            cursor: auto;
        }
    }
    &__link{
        display: block;
        margin-bottom: 1em;
        font-size: 0.90em;
        text-transform: uppercase;
        color: $light;
        font-weight: 500;
        transition: color .3s linear;
        &:hover{
            color: $dark;
        }
    }
    &__sale{
        max-width: 400px;
        width: 100%;
        padding: 3rem 0; 
        height: auto;
        background-color: $dark;
        margin: 0 auto;
        font-size: 2rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
        span{
            display: block;
            font-weight: 400;
        }
    }
}
.nav-form{
    margin-left: 5rem;
    margin-right: 1rem;
    &__search{
        input{
            border: 1px solid lighten($light, 30%);
            padding: 0.7em 1.4em;
            font-family: $text;
            font-size: 0.95rem;
            text-transform: capitalize;
            color: $light;
            transition: box-shadow .3s linear;
            &:focus{
                outline: none;
                box-shadow: $shadow;
            }
        }
    }
}





/* Hero
===================*/
.hero{
    background: url('../img/hero/hero-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 1;
    &__content{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: -1;
    }
}
.ave{
    max-width: 1600px;
    padding: 0 1rem;
    width: 100%;
    font-size: 26rem;
    text-transform: uppercase;
    font-family: $text;
    color: $gray;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Products
===================*/
.products{
    &__content{
        display: flex;
        justify-content: space-between;

    }
    &__social{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    &__i{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: $white;
            font-size: 2.5rem;
            z-index: 33;
            opacity: 0;
            transition: opacity .3s linear;
        }
    }
    &__icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $gray;
        margin-left: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        &:hover > i{
            color: $accent;
        }
        i{
            color: $white;
            transition: color .3s linear;
        }
    }
    &__details{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 33;
        opacity: 0;
        transition: opacity .3s linear;
        &:hover{
            opacity: 1;
        }
       
    }
    &__info{
        padding: 1rem 0;
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: auto;
    }
    &__h3{
        font-size: .85rem;
        text-transform: uppercase;
        color: $light;
        font-weight: 500;
        font-family: $text;
        text-align: center;
        margin-bottom: .5em;
    }
    &__text{
        font-size: .85rem;
        color: $light;
        font-weight: 500;
        font-family: $text;
        text-align: center;
        line-height: 1.5;
    }
    &__price{
        font-size: 1.3rem;
        text-transform: uppercase;
        color: $light;
        font-weight: 300;
        transition: color .3s linear;
        font-family: $text;
        margin: 1rem;
        sup{
            font-size: 0.85rem;
            margin-right: -.3rem;
        }
    }
    &__img{
        margin-bottom: 1rem;
        transition: box-shadow .3s linear;
        position: relative;
        &:hover{
            cursor: pointer;
            box-shadow: $shadow;
        }
        img{
            display: block;
            width: 100%;
            height: auto;
        }
        &:hover .products__i > i{
            opacity: 1;
        }
    }
    &__left{
        flex-basis: 49.4%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .products__img{
            &:first-child{
                flex-basis: 49%;
            }
            &:nth-child(2){
                flex-basis: 49%;
            }
            &:last-child{
                flex-basis: 100%;
            }
        }
    }
    &__right{
        flex-basis: 49.4%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .products__img{
            &:first-child{
                flex-basis: 100%;
            }
            &:nth-child(2){
                flex-basis: 49%;
            }
            &:last-child{
                flex-basis: 49%;
            }
    }
}
}
.products-nav{
    margin: 2rem 0;
    &__link{
        font-size: 0.85rem;
        text-transform: uppercase;
        color: $light;
        font-weight: 500;
        transition: color .3s linear;
        font-family: $text;
        margin-right: 2rem;
        &:hover{
            color: $accent;
        }
    }
}

/* lookbook
===================*/
.lookbook{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
    @media (max-width: $tablet){
        justify-content: center;
    }
    &__item{
        flex-basis: 32.4%;
        position: relative;
        margin-bottom: 1rem;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
        @media (max-width: $tablet){
            flex-basis: 95%;
        }
    }
    &__info{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        
    }
    &__h3{
        text-align: right;
        max-width: 290px;
        font-size: 3rem;
        color: $dark;
        font-weight: 700;
        font-family: $text;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-right: 3rem;
        span{
            font-weight: 300;
        }
    }
    &__text{
        text-align: right;
        max-width: 290px;
        font-size: 0.85rem;
        color: $light;
        font-weight: 500;
        font-family: $text;
        line-height: 1.7;
        margin-bottom: 1rem;
        margin-right: 3rem;
    }
    a{
        margin-right: 3rem;
    }
}

/* Footer
===================*/
.footer-top{
    background-color: $light-x;
    padding: 2rem 0;
    &__nav{
        display: flex;
        justify-content: space-between;
    }
    &__h3{
        font-size: 1.4rem;
        color: $dark;
        font-weight: 700;
        font-family: $heading;
        line-height: 1.3;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        max-width: 230px;
        width: 100%;
    }
    &__link{
        display: block;
        margin-bottom: 1rem;
        max-width: 230px;
        width: 100%;
        transition: color .3s linear;
        color: $light;
        font-weight: 500;
        &:hover{
            color: $accent;
        }
    }
    &__award{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        flex-basis: 49%;
        padding: 3.2rem 0; 
        height: auto;
        background-color: $dark;
        margin: 0 auto;
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        text-align: center;
        margin: 2rem 0;
        font-family: $text;
        span{
            font-weight: 300;
            display: block;
            margin-top: 1rem;
        }
        &--alt{
            background-color: $accent;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__social{
        display: flex;
        justify-content: space-between;
        max-width: 290px;
        width: 100%;
    }
    &__icons{
        cursor: pointer;
    }
}
.footer-bottom{
    background-color: $dark;
    padding: 1rem 0;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__left, &__right{
        font-size: 0.85rem;
        color: $light;
        font-weight: 500;
        font-family: $text;
        span{
            margin-right: 2rem;
        }
    }
    
}